<div>
    <h2 id="page-heading">
        <span jhiTranslate="lifestudiesApp.ciudad.home.title">Ciudads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ciudad" [routerLink]="['/ciudad/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lifestudiesApp.ciudad.home.createLabel">
            Create new Ciudad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ciudads">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lifestudiesApp.ciudad.ciudadNombre">Ciudad Nombre</span></th>
            <th><span jhiTranslate="lifestudiesApp.ciudad.pais">Pais</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ciudad of ciudads ;trackBy: trackId">
                <td><a [routerLink]="['/ciudad', ciudad.id, 'view' ]">{{ciudad.id}}</a></td>
                <td>{{ciudad.ciudadNombre}}</td>
                <td>
                    <div *ngIf="ciudad.pais">
                        <a [routerLink]="['../pais', ciudad.pais?.id, 'view' ]" >{{ciudad.pais?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ciudad', ciudad.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ciudad', ciudad.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ciudad', { outlets: { popup: ciudad.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
