<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ciudad-heading" jhiTranslate="lifestudiesApp.ciudad.home.createOrEditLabel">Create or edit a Ciudad</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ciudad.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ciudad.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.ciudad.ciudadNombre" for="field_ciudadNombre">Ciudad Nombre</label>
                    <input type="text" class="form-control" name="ciudadNombre" id="field_ciudadNombre"
                        [(ngModel)]="ciudad.ciudadNombre" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.ciudad.pais" for="field_pais">Pais</label>
                    <select class="form-control" id="field_pais" name="pais" [(ngModel)]="ciudad.pais">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paisOption.id === ciudad.pais?.id ? ciudad.pais : paisOption" *ngFor="let paisOption of pais; trackBy: trackPaisById">{{paisOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
