<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoPrograma">
            <h2><span jhiTranslate="lifestudiesApp.tipoPrograma.detail.title">Tipo Programa</span> {{tipoPrograma.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lifestudiesApp.tipoPrograma.tipoNombre">Tipo Nombre</span></dt>
                <dd>
                    <span>{{tipoPrograma.tipoNombre}}</span>
                </dd>
                <dt><span jhiTranslate="lifestudiesApp.tipoPrograma.tipoCodigo">Tipo Codigo</span></dt>
                <dd>
                    <div *ngIf="tipoPrograma.tipoCodigo">
                        <a [routerLink]="['/programas', tipoPrograma.tipoCodigo?.id, 'view']">{{tipoPrograma.tipoCodigo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-programa', tipoPrograma.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
