<div>
    <h2 id="page-heading">
        <span jhiTranslate="lifestudiesApp.programas.home.title">Programas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-programas" [routerLink]="['/programas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lifestudiesApp.programas.home.createLabel">
            Create new Programas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="programas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lifestudiesApp.programas.programaNombre">Programa Nombre</span></th>
            <th><span jhiTranslate="lifestudiesApp.programas.duracion">Duracion</span></th>
            <th><span jhiTranslate="lifestudiesApp.programas.tipo">Tipo</span></th>
            <th><span jhiTranslate="lifestudiesApp.programas.institucion">Institucion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let programas of programas ;trackBy: trackId">
                <td><a [routerLink]="['/programas', programas.id, 'view' ]">{{programas.id}}</a></td>
                <td>{{programas.programaNombre}}</td>
                <td jhiTranslate="{{'lifestudiesApp.Duraciond.' + programas.duracion}}">{{programas.duracion}}</td>
                <td jhiTranslate="{{'lifestudiesApp.TipoProgramad.' + programas.tipo}}">{{programas.tipo}}</td>
                <td>
                    <div *ngIf="programas.institucion">
                        <a [routerLink]="['../institucion', programas.institucion?.id, 'view' ]" >{{programas.institucion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/programas', programas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/programas', programas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'programas', { outlets: { popup: programas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
