<div>
    <h2 id="page-heading">
        <span jhiTranslate="lifestudiesApp.perfilUsuario.home.title">Perfil Usuarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-perfil-usuario" [routerLink]="['/perfil-usuario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lifestudiesApp.perfilUsuario.home.createLabel">
            Create new Perfil Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="perfilUsuarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.nombre">Nombre</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.apellido">Apellido</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.fechaNacimiento">Fecha Nacimiento</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.mail">Mail</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.area">Area</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.telefono">Telefono</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.nivelAcademico">Nivel Academico</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.areaAcademica">Area Academica</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.terminoAcademico">Termino Academico</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.puntajeICFES">Puntaje ICFES</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.promedioAcademico">Promedio Academico</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.dominioIdioma">Dominio Idioma</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.idiomas">Idiomas</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.examenIdioma">Examen Idioma</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.examenRealizado">Examen Realizado</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.puntajeIdioma">Puntaje Idioma</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.becaOtorgada">Beca Otorgada</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.tipoBeca">Tipo Beca</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.becaInstitucion">Beca Institucion</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.grupoSocial">Grupo Social</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.fundacion">Fundacion</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.monitor">Monitor</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.monitorMateria">Monitor Materia</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.logrosAcademicos">Logros Academicos</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.experienciaLaboral">Experiencia Laboral</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.areaLaboral">Area Laboral</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.programarealizar">Programarealizar</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.programaArea">Programa Area</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.fechaInicio">Fecha Inicio</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.programaEncontrado">Programa Encontrado</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.nombrePrograma">Nombre Programa</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.universidad">Universidad</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.pais">Pais</span></th>
            <th><span jhiTranslate="lifestudiesApp.perfilUsuario.merecedorBeca">Merecedor Beca</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perfilUsuario of perfilUsuarios ;trackBy: trackId">
                <td><a [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view' ]">{{perfilUsuario.id}}</a></td>
                <td>{{perfilUsuario.nombre}}</td>
                <td>{{perfilUsuario.apellido}}</td>
                <td>{{perfilUsuario.fechaNacimiento | date:'mediumDate'}}</td>
                <td>{{perfilUsuario.mail}}</td>
                <td>{{perfilUsuario.area}}</td>
                <td>{{perfilUsuario.telefono}}</td>
                <td>{{perfilUsuario.nivelAcademico}}</td>
                <td>{{perfilUsuario.areaAcademica}}</td>
                <td>{{perfilUsuario.terminoAcademico}}</td>
                <td>{{perfilUsuario.puntajeICFES}}</td>
                <td>{{perfilUsuario.promedioAcademico}}</td>
                <td>{{perfilUsuario.dominioIdioma}}</td>
                <td>{{perfilUsuario.idiomas}}</td>
                <td>{{perfilUsuario.examenIdioma}}</td>
                <td>{{perfilUsuario.examenRealizado}}</td>
                <td>{{perfilUsuario.puntajeIdioma}}</td>
                <td>{{perfilUsuario.becaOtorgada}}</td>
                <td>{{perfilUsuario.tipoBeca}}</td>
                <td>{{perfilUsuario.becaInstitucion}}</td>
                <td>{{perfilUsuario.grupoSocial}}</td>
                <td>{{perfilUsuario.fundacion}}</td>
                <td>{{perfilUsuario.monitor}}</td>
                <td>{{perfilUsuario.monitorMateria}}</td>
                <td>{{perfilUsuario.logrosAcademicos}}</td>
                <td>{{perfilUsuario.experienciaLaboral}}</td>
                <td>{{perfilUsuario.areaLaboral}}</td>
                <td>{{perfilUsuario.programarealizar}}</td>
                <td>{{perfilUsuario.programaArea}}</td>
                <td>{{perfilUsuario.fechaInicio | date:'mediumDate'}}</td>
                <td>{{perfilUsuario.programaEncontrado}}</td>
                <td>{{perfilUsuario.nombrePrograma}}</td>
                <td>{{perfilUsuario.universidad}}</td>
                <td>{{perfilUsuario.pais}}</td>
                <td>{{perfilUsuario.merecedorBeca}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/perfil-usuario', perfilUsuario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'perfil-usuario', { outlets: { popup: perfilUsuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
