<div>
    <h2 id="page-heading">
        <span jhiTranslate="lifestudiesApp.blogContenido.home.title">Blog Contenidos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blog-contenido" [routerLink]="['/blog-contenido/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lifestudiesApp.blogContenido.home.createLabel">
            Create new Blog Contenido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="blogContenidos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.nombre">Nombre</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.apellido">Apellido</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.correo">Correo</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.nacionalidad">Nacionalidad</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.paisEstudio">Pais Estudio</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.calificacionPais">Calificacion Pais</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.ciudadVive">Ciudad Vive</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.calificacionCiudad">Calificacion Ciudad</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.programaRealizado">Programa Realizado</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.institucionEstudio">Institucion Estudio</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.calificacionInstitucion">Calificacion Institucion</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.agenciaEstudios">Agencia Estudios</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.nombreAgencia">Nombre Agencia</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.calificacionAgencia">Calificacion Agencia</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.calificacionExperienciaEstudio">Calificacion Experiencia Estudio</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.titulo">Titulo</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.contenido">Contenido</span></th>
            <th><span jhiTranslate="lifestudiesApp.blogContenido.imagen">Imagen</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blogContenido of blogContenidos ;trackBy: trackId">
                <td><a [routerLink]="['/blog-contenido', blogContenido.id, 'view' ]">{{blogContenido.id}}</a></td>
                <td>{{blogContenido.nombre}}</td>
                <td>{{blogContenido.apellido}}</td>
                <td>{{blogContenido.correo}}</td>
                <td jhiTranslate="{{'lifestudiesApp.Nacionalidadd.' + blogContenido.nacionalidad}}">{{blogContenido.nacionalidad}}</td>
                <td jhiTranslate="{{'lifestudiesApp.Destinod.' + blogContenido.paisEstudio}}">{{blogContenido.paisEstudio}}</td>
                <td>{{blogContenido.calificacionPais}}</td>
                <td>{{blogContenido.ciudadVive}}</td>
                <td>{{blogContenido.calificacionCiudad}}</td>
                <td jhiTranslate="{{'lifestudiesApp.NivelAcademicod.' + blogContenido.programaRealizado}}">{{blogContenido.programaRealizado}}</td>
                <td>{{blogContenido.institucionEstudio}}</td>
                <td>{{blogContenido.calificacionInstitucion}}</td>
                <td>{{blogContenido.agenciaEstudios}}</td>
                <td>{{blogContenido.nombreAgencia}}</td>
                <td>{{blogContenido.calificacionAgencia}}</td>
                <td>{{blogContenido.calificacionExperienciaEstudio}}</td>
                <td>{{blogContenido.titulo}}</td>
                <td>{{blogContenido.contenido}}</td>
                <td>
                    <a *ngIf="blogContenido.imagen" (click)="openFile(blogContenido.imagenContentType, blogContenido.imagen)">
                        <img [src]="'data:' + blogContenido.imagenContentType + ';base64,' + blogContenido.imagen" style="max-height: 30px;" alt="blogContenido image"/>
                    </a>
                    <span *ngIf="blogContenido.imagen">{{blogContenido.imagenContentType}}, {{byteSize(blogContenido.imagen)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/blog-contenido', blogContenido.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog-contenido', blogContenido.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'blog-contenido', { outlets: { popup: blogContenido.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
