<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-viabilidad-visa-heading" jhiTranslate="lifestudiesApp.viabilidadVisa.home.createOrEditLabel">Create or edit a Viabilidad Visa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!viabilidadVisa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="viabilidadVisa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.destino" for="field_destino">Destino</label>
                    <select class="form-control" name="destino" [(ngModel)]="viabilidadVisa.destino" id="field_destino" >
                        <option value="ALEMANIA">{{'lifestudiesApp.Destinod.ALEMANIA' | translate}}</option>
                        <option value="AUSTRALIA">{{'lifestudiesApp.Destinod.AUSTRALIA' | translate}}</option>
                        <option value="CANADA">{{'lifestudiesApp.Destinod.CANADA' | translate}}</option>
                        <option value="ESPANA">{{'lifestudiesApp.Destinod.ESPANA' | translate}}</option>
                        <option value="ESTADOS_UNIDOS">{{'lifestudiesApp.Destinod.ESTADOS_UNIDOS' | translate}}</option>
                        <option value="FRANCIA">{{'lifestudiesApp.Destinod.FRANCIA' | translate}}</option>
                        <option value="INGLATERRA">{{'lifestudiesApp.Destinod.INGLATERRA' | translate}}</option>
                        <option value="IRLANDA">{{'lifestudiesApp.Destinod.IRLANDA' | translate}}</option>
                        <option value="ITALIA">{{'lifestudiesApp.Destinod.ITALIA' | translate}}</option>
                        <option value="JAPON">{{'lifestudiesApp.Destinod.JAPON' | translate}}</option>
                        <option value="MALTA">{{'lifestudiesApp.Destinod.MALTA' | translate}}</option>
                        <option value="NUEVA_ZELANDA">{{'lifestudiesApp.Destinod.NUEVA_ZELANDA' | translate}}</option>
                        <option value="SUDAFRICA">{{'lifestudiesApp.Destinod.SUDAFRICA' | translate}}</option>
                        <option value="SUIZA">{{'lifestudiesApp.Destinod.SUIZA' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.tipoPrograma" for="field_tipoPrograma">Tipo Programa</label>
                    <select class="form-control" name="tipoPrograma" [(ngModel)]="viabilidadVisa.tipoPrograma" id="field_tipoPrograma" >
                        <option value="Programas_Idiomas">{{'lifestudiesApp.TipoProgramad.Programas_Idiomas' | translate}}</option>
                        <option value="Curso_Verano_idiomas">{{'lifestudiesApp.TipoProgramad.Curso_Verano_idiomas' | translate}}</option>
                        <option value="Programa_preparacion_Examenes_idioma">{{'lifestudiesApp.TipoProgramad.Programa_preparacion_Examenes_idioma' | translate}}</option>
                        <option value="Programa_Pregrado">{{'lifestudiesApp.TipoProgramad.Programa_Pregrado' | translate}}</option>
                        <option value="Programa_Posgrado">{{'lifestudiesApp.TipoProgramad.Programa_Posgrado' | translate}}</option>
                        <option value="Programas_Cortos_Ejecutivos">{{'lifestudiesApp.TipoProgramad.Programas_Cortos_Ejecutivos' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.duracion" for="field_duracion">Duracion</label>
                    <select class="form-control" name="duracion" [(ngModel)]="viabilidadVisa.duracion" id="field_duracion" >
                        <option value="UN_MES">{{'lifestudiesApp.Duraciond.UN_MES' | translate}}</option>
                        <option value="DOS_MESES">{{'lifestudiesApp.Duraciond.DOS_MESES' | translate}}</option>
                        <option value="TRES_MESES">{{'lifestudiesApp.Duraciond.TRES_MESES' | translate}}</option>
                        <option value="CUATRO_MESES">{{'lifestudiesApp.Duraciond.CUATRO_MESES' | translate}}</option>
                        <option value="CINCO_MESES">{{'lifestudiesApp.Duraciond.CINCO_MESES' | translate}}</option>
                        <option value="SEIS_MESES">{{'lifestudiesApp.Duraciond.SEIS_MESES' | translate}}</option>
                        <option value="SIETE_MESES">{{'lifestudiesApp.Duraciond.SIETE_MESES' | translate}}</option>
                        <option value="OCHO_MESES">{{'lifestudiesApp.Duraciond.OCHO_MESES' | translate}}</option>
                        <option value="NUEVE_MESES">{{'lifestudiesApp.Duraciond.NUEVE_MESES' | translate}}</option>
                        <option value="DIEZ_MESES">{{'lifestudiesApp.Duraciond.DIEZ_MESES' | translate}}</option>
                        <option value="ONCE_MESES">{{'lifestudiesApp.Duraciond.ONCE_MESES' | translate}}</option>
                        <option value="DOCE_MESES">{{'lifestudiesApp.Duraciond.DOCE_MESES' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.nacionalidadPrincipal" for="field_nacionalidadPrincipal">Nacionalidad Principal</label>
                    <select class="form-control" name="nacionalidadPrincipal" [(ngModel)]="viabilidadVisa.nacionalidadPrincipal" id="field_nacionalidadPrincipal" >
                        <option value="Argentina">{{'lifestudiesApp.Nacionalidadd.Argentina' | translate}}</option>
                        <option value="Bolivia">{{'lifestudiesApp.Nacionalidadd.Bolivia' | translate}}</option>
                        <option value="Brasil">{{'lifestudiesApp.Nacionalidadd.Brasil' | translate}}</option>
                        <option value="Chile">{{'lifestudiesApp.Nacionalidadd.Chile' | translate}}</option>
                        <option value="Colombia">{{'lifestudiesApp.Nacionalidadd.Colombia' | translate}}</option>
                        <option value="Costa_Rica">{{'lifestudiesApp.Nacionalidadd.Costa_Rica' | translate}}</option>
                        <option value="Ecuador">{{'lifestudiesApp.Nacionalidadd.Ecuador' | translate}}</option>
                        <option value="Guatemala">{{'lifestudiesApp.Nacionalidadd.Guatemala' | translate}}</option>
                        <option value="Honduras">{{'lifestudiesApp.Nacionalidadd.Honduras' | translate}}</option>
                        <option value="Mexico">{{'lifestudiesApp.Nacionalidadd.Mexico' | translate}}</option>
                        <option value="Nicaragua">{{'lifestudiesApp.Nacionalidadd.Nicaragua' | translate}}</option>
                        <option value="Panama">{{'lifestudiesApp.Nacionalidadd.Panama' | translate}}</option>
                        <option value="Paraguay">{{'lifestudiesApp.Nacionalidadd.Paraguay' | translate}}</option>
                        <option value="Peru">{{'lifestudiesApp.Nacionalidadd.Peru' | translate}}</option>
                        <option value="Uruguay">{{'lifestudiesApp.Nacionalidadd.Uruguay' | translate}}</option>
                        <option value="Venezuela">{{'lifestudiesApp.Nacionalidadd.Venezuela' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.otraNacionalidad" for="field_otraNacionalidad">Otra Nacionalidad</label>
                    <select class="form-control" name="otraNacionalidad" [(ngModel)]="viabilidadVisa.otraNacionalidad" id="field_otraNacionalidad" >
                        <option value="Argentina">{{'lifestudiesApp.Nacionalidadd.Argentina' | translate}}</option>
                        <option value="Bolivia">{{'lifestudiesApp.Nacionalidadd.Bolivia' | translate}}</option>
                        <option value="Brasil">{{'lifestudiesApp.Nacionalidadd.Brasil' | translate}}</option>
                        <option value="Chile">{{'lifestudiesApp.Nacionalidadd.Chile' | translate}}</option>
                        <option value="Colombia">{{'lifestudiesApp.Nacionalidadd.Colombia' | translate}}</option>
                        <option value="Costa_Rica">{{'lifestudiesApp.Nacionalidadd.Costa_Rica' | translate}}</option>
                        <option value="Ecuador">{{'lifestudiesApp.Nacionalidadd.Ecuador' | translate}}</option>
                        <option value="Guatemala">{{'lifestudiesApp.Nacionalidadd.Guatemala' | translate}}</option>
                        <option value="Honduras">{{'lifestudiesApp.Nacionalidadd.Honduras' | translate}}</option>
                        <option value="Mexico">{{'lifestudiesApp.Nacionalidadd.Mexico' | translate}}</option>
                        <option value="Nicaragua">{{'lifestudiesApp.Nacionalidadd.Nicaragua' | translate}}</option>
                        <option value="Panama">{{'lifestudiesApp.Nacionalidadd.Panama' | translate}}</option>
                        <option value="Paraguay">{{'lifestudiesApp.Nacionalidadd.Paraguay' | translate}}</option>
                        <option value="Peru">{{'lifestudiesApp.Nacionalidadd.Peru' | translate}}</option>
                        <option value="Uruguay">{{'lifestudiesApp.Nacionalidadd.Uruguay' | translate}}</option>
                        <option value="Venezuela">{{'lifestudiesApp.Nacionalidadd.Venezuela' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker  #fechaNacimientoDp="ngbDatepicker" [(ngModel)]="viabilidadVisa.fechaNacimiento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.genero" for="field_genero">Genero</label>
                    <select class="form-control" name="genero" [(ngModel)]="viabilidadVisa.genero" id="field_genero" >
                        <option value="Hombre">{{'lifestudiesApp.Generod.Hombre' | translate}}</option>
                        <option value="Mujer">{{'lifestudiesApp.Generod.Mujer' | translate}}</option>
                        <option value="LBGTI">{{'lifestudiesApp.Generod.LBGTI' | translate}}</option>
                        <option value="Indeterminado">{{'lifestudiesApp.Generod.Indeterminado' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.estadoCivil" for="field_estadoCivil">Estado Civil</label>
                    <select class="form-control" name="estadoCivil" [(ngModel)]="viabilidadVisa.estadoCivil" id="field_estadoCivil" >
                        <option value="Soltero">{{'lifestudiesApp.EstadoCivild.Soltero' | translate}}</option>
                        <option value="Casado">{{'lifestudiesApp.EstadoCivild.Casado' | translate}}</option>
                        <option value="Viudo">{{'lifestudiesApp.EstadoCivild.Viudo' | translate}}</option>
                        <option value="Separado">{{'lifestudiesApp.EstadoCivild.Separado' | translate}}</option>
                        <option value="Union_Libre">{{'lifestudiesApp.EstadoCivild.Union_Libre' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.viajaAcompanado" for="field_viajaAcompanado">Viaja Acompanado</label>
                    <input type="checkbox" class="form-control" name="viajaAcompanado" id="field_viajaAcompanado"
                        [(ngModel)]="viabilidadVisa.viajaAcompanado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.personasCargo" for="field_personasCargo">Personas Cargo</label>
                    <select class="form-control" name="personasCargo" [(ngModel)]="viabilidadVisa.personasCargo" id="field_personasCargo" >
                        <option value="NINGUNA">{{'lifestudiesApp.PersonasCargod.NINGUNA' | translate}}</option>
                        <option value="UNA">{{'lifestudiesApp.PersonasCargod.UNA' | translate}}</option>
                        <option value="DOS">{{'lifestudiesApp.PersonasCargod.DOS' | translate}}</option>
                        <option value="TRES">{{'lifestudiesApp.PersonasCargod.TRES' | translate}}</option>
                        <option value="MAS_DE_CUATRO">{{'lifestudiesApp.PersonasCargod.MAS_DE_CUATRO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.nivelAcademico" for="field_nivelAcademico">Nivel Academico</label>
                    <select class="form-control" name="nivelAcademico" [(ngModel)]="viabilidadVisa.nivelAcademico" id="field_nivelAcademico" >
                        <option value="PRIMARIA">{{'lifestudiesApp.NivelAcademicod.PRIMARIA' | translate}}</option>
                        <option value="SECUNDARIA">{{'lifestudiesApp.NivelAcademicod.SECUNDARIA' | translate}}</option>
                        <option value="PREGRADO">{{'lifestudiesApp.NivelAcademicod.PREGRADO' | translate}}</option>
                        <option value="POSGRADO">{{'lifestudiesApp.NivelAcademicod.POSGRADO' | translate}}</option>
                        <option value="DOCTORADO">{{'lifestudiesApp.NivelAcademicod.DOCTORADO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.profesion" for="field_profesion">Profesion</label>
                    <input type="text" class="form-control" name="profesion" id="field_profesion"
                        [(ngModel)]="viabilidadVisa.profesion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.fechaGadruacion" for="field_fechaGadruacion">Fecha Gadruacion</label>
                    <div class="input-group">
                        <input id="field_fechaGadruacion" type="text" class="form-control" name="fechaGadruacion" ngbDatepicker  #fechaGadruacionDp="ngbDatepicker" [(ngModel)]="viabilidadVisa.fechaGadruacion"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaGadruacionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.ocupacionActual" for="field_ocupacionActual">Ocupacion Actual</label>
                    <select class="form-control" name="ocupacionActual" [(ngModel)]="viabilidadVisa.ocupacionActual" id="field_ocupacionActual" >
                        <option value="Estudiante">{{'lifestudiesApp.OcupacionActuald.Estudiante' | translate}}</option>
                        <option value="Estudiante_Graduado_sin_Laborar">{{'lifestudiesApp.OcupacionActuald.Estudiante_Graduado_sin_Laborar' | translate}}</option>
                        <option value="Empleado">{{'lifestudiesApp.OcupacionActuald.Empleado' | translate}}</option>
                        <option value="Independiente">{{'lifestudiesApp.OcupacionActuald.Independiente' | translate}}</option>
                        <option value="Desempleado">{{'lifestudiesApp.OcupacionActuald.Desempleado' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.carta" for="field_carta">Carta</label>
                    <input type="checkbox" class="form-control" name="carta" id="field_carta"
                        [(ngModel)]="viabilidadVisa.carta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.suspendidoEstudios" for="field_suspendidoEstudios">Suspendido Estudios</label>
                    <input type="checkbox" class="form-control" name="suspendidoEstudios" id="field_suspendidoEstudios"
                        [(ngModel)]="viabilidadVisa.suspendidoEstudios" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.peridoSupencionEstu" for="field_peridoSupencionEstu">Perido Supencion Estu</label>
                    <select class="form-control" name="peridoSupencionEstu" [(ngModel)]="viabilidadVisa.peridoSupencionEstu" id="field_peridoSupencionEstu" >
                        <option value="SEIS_MESES">{{'lifestudiesApp.PeridoSupencionEstud.SEIS_MESES' | translate}}</option>
                        <option value="UN_ANO">{{'lifestudiesApp.PeridoSupencionEstud.UN_ANO' | translate}}</option>
                        <option value="DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.DOS_ANOS' | translate}}</option>
                        <option value="MAS_DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.MAS_DOS_ANOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.razonSuspencion" for="field_razonSuspencion">Razon Suspencion</label>
                    <input type="text" class="form-control" name="razonSuspencion" id="field_razonSuspencion"
                        [(ngModel)]="viabilidadVisa.razonSuspencion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.tipoContrato" for="field_tipoContrato">Tipo Contrato</label>
                    <select class="form-control" name="tipoContrato" [(ngModel)]="viabilidadVisa.tipoContrato" id="field_tipoContrato" >
                        <option value="TERMINO_FIJO">{{'lifestudiesApp.TipoContratod.TERMINO_FIJO' | translate}}</option>
                        <option value="TERMINO_INDEFNIDO">{{'lifestudiesApp.TipoContratod.TERMINO_INDEFNIDO' | translate}}</option>
                        <option value="PRESTACION_SERVICIOS">{{'lifestudiesApp.TipoContratod.PRESTACION_SERVICIOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.licenciaLaboral" for="field_licenciaLaboral">Licencia Laboral</label>
                    <input type="checkbox" class="form-control" name="licenciaLaboral" id="field_licenciaLaboral"
                        [(ngModel)]="viabilidadVisa.licenciaLaboral" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.nivelSalarial" for="field_nivelSalarial">Nivel Salarial</label>
                    <select class="form-control" name="nivelSalarial" [(ngModel)]="viabilidadVisa.nivelSalarial" id="field_nivelSalarial" >
                        <option value="MENOS_US600">{{'lifestudiesApp.NivelSalariald.MENOS_US600' | translate}}</option>
                        <option value="US700_US1000">{{'lifestudiesApp.NivelSalariald.US700_US1000' | translate}}</option>
                        <option value="US1000_US1500">{{'lifestudiesApp.NivelSalariald.US1000_US1500' | translate}}</option>
                        <option value="US1500_US2000">{{'lifestudiesApp.NivelSalariald.US1500_US2000' | translate}}</option>
                        <option value="SUPERIOR_US2000">{{'lifestudiesApp.NivelSalariald.SUPERIOR_US2000' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.tipoLaborIndependiente" for="field_tipoLaborIndependiente">Tipo Labor Independiente</label>
                    <select class="form-control" name="tipoLaborIndependiente" [(ngModel)]="viabilidadVisa.tipoLaborIndependiente" id="field_tipoLaborIndependiente" >
                        <option value="PROFESIONAL_CUENTA_PROPIA">{{'lifestudiesApp.TipoLaborIndependiented.PROFESIONAL_CUENTA_PROPIA' | translate}}</option>
                        <option value="ESTABLECIMIENTO_COMERCIO">{{'lifestudiesApp.TipoLaborIndependiented.ESTABLECIMIENTO_COMERCIO' | translate}}</option>
                        <option value="CONTRATO_PRESTACION_SERVICIOS">{{'lifestudiesApp.TipoLaborIndependiented.CONTRATO_PRESTACION_SERVICIOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.tiempoIndependiente" for="field_tiempoIndependiente">Tiempo Independiente</label>
                    <select class="form-control" name="tiempoIndependiente" [(ngModel)]="viabilidadVisa.tiempoIndependiente" id="field_tiempoIndependiente" >
                        <option value="SEIS_MESES">{{'lifestudiesApp.PeridoSupencionEstud.SEIS_MESES' | translate}}</option>
                        <option value="UN_ANO">{{'lifestudiesApp.PeridoSupencionEstud.UN_ANO' | translate}}</option>
                        <option value="DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.DOS_ANOS' | translate}}</option>
                        <option value="MAS_DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.MAS_DOS_ANOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.nivelIngresosIndependiente" for="field_nivelIngresosIndependiente">Nivel Ingresos Independiente</label>
                    <select class="form-control" name="nivelIngresosIndependiente" [(ngModel)]="viabilidadVisa.nivelIngresosIndependiente" id="field_nivelIngresosIndependiente" >
                        <option value="MENOS_US600">{{'lifestudiesApp.NivelSalariald.MENOS_US600' | translate}}</option>
                        <option value="US700_US1000">{{'lifestudiesApp.NivelSalariald.US700_US1000' | translate}}</option>
                        <option value="US1000_US1500">{{'lifestudiesApp.NivelSalariald.US1000_US1500' | translate}}</option>
                        <option value="US1500_US2000">{{'lifestudiesApp.NivelSalariald.US1500_US2000' | translate}}</option>
                        <option value="SUPERIOR_US2000">{{'lifestudiesApp.NivelSalariald.SUPERIOR_US2000' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.tiempoDesempleado" for="field_tiempoDesempleado">Tiempo Desempleado</label>
                    <select class="form-control" name="tiempoDesempleado" [(ngModel)]="viabilidadVisa.tiempoDesempleado" id="field_tiempoDesempleado" >
                        <option value="SEIS_MESES">{{'lifestudiesApp.PeridoSupencionEstud.SEIS_MESES' | translate}}</option>
                        <option value="UN_ANO">{{'lifestudiesApp.PeridoSupencionEstud.UN_ANO' | translate}}</option>
                        <option value="DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.DOS_ANOS' | translate}}</option>
                        <option value="MAS_DOS_ANOS">{{'lifestudiesApp.PeridoSupencionEstud.MAS_DOS_ANOS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.quienFinanciaEstudios" for="field_quienFinanciaEstudios">Quien Financia Estudios</label>
                    <select class="form-control" name="quienFinanciaEstudios" [(ngModel)]="viabilidadVisa.quienFinanciaEstudios" id="field_quienFinanciaEstudios" >
                        <option value="Tu_mismo">{{'lifestudiesApp.QuienFinanciaEstudiosd.Tu_mismo' | translate}}</option>
                        <option value="Un_familiar">{{'lifestudiesApp.QuienFinanciaEstudiosd.Un_familiar' | translate}}</option>
                        <option value="Empleador">{{'lifestudiesApp.QuienFinanciaEstudiosd.Empleador' | translate}}</option>
                        <option value="Beca_total">{{'lifestudiesApp.QuienFinanciaEstudiosd.Beca_total' | translate}}</option>
                        <option value="Beca_Parcial">{{'lifestudiesApp.QuienFinanciaEstudiosd.Beca_Parcial' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.parentesco" for="field_parentesco">Parentesco</label>
                    <select class="form-control" name="parentesco" [(ngModel)]="viabilidadVisa.parentesco" id="field_parentesco" >
                        <option value="Padre_Madre">{{'lifestudiesApp.Parentescod.Padre_Madre' | translate}}</option>
                        <option value="Hermano">{{'lifestudiesApp.Parentescod.Hermano' | translate}}</option>
                        <option value="Abuelos">{{'lifestudiesApp.Parentescod.Abuelos' | translate}}</option>
                        <option value="Tios">{{'lifestudiesApp.Parentescod.Tios' | translate}}</option>
                        <option value="Otros">{{'lifestudiesApp.Parentescod.Otros' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.presupuestoDisponible" for="field_presupuestoDisponible">Presupuesto Disponible</label>
                    <select class="form-control" name="presupuestoDisponible" [(ngModel)]="viabilidadVisa.presupuestoDisponible" id="field_presupuestoDisponible" >
                        <option value="MENOS_US600">{{'lifestudiesApp.NivelSalariald.MENOS_US600' | translate}}</option>
                        <option value="US700_US1000">{{'lifestudiesApp.NivelSalariald.US700_US1000' | translate}}</option>
                        <option value="US1000_US1500">{{'lifestudiesApp.NivelSalariald.US1000_US1500' | translate}}</option>
                        <option value="US1500_US2000">{{'lifestudiesApp.NivelSalariald.US1500_US2000' | translate}}</option>
                        <option value="SUPERIOR_US2000">{{'lifestudiesApp.NivelSalariald.SUPERIOR_US2000' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.ahorroDisponible" for="field_ahorroDisponible">Ahorro Disponible</label>
                    <input type="checkbox" class="form-control" name="ahorroDisponible" id="field_ahorroDisponible"
                        [(ngModel)]="viabilidadVisa.ahorroDisponible" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.idioma" for="field_idioma">Idioma</label>
                    <input type="checkbox" class="form-control" name="idioma" id="field_idioma"
                        [(ngModel)]="viabilidadVisa.idioma" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.certificarIdioma" for="field_certificarIdioma">Certificar Idioma</label>
                    <input type="checkbox" class="form-control" name="certificarIdioma" id="field_certificarIdioma"
                        [(ngModel)]="viabilidadVisa.certificarIdioma" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.certificacionIdioma" for="field_certificacionIdioma">Certificacion Idioma</label>
                    <input type="text" class="form-control" name="certificacionIdioma" id="field_certificacionIdioma"
                        [(ngModel)]="viabilidadVisa.certificacionIdioma" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.puntajeCertificacion" for="field_puntajeCertificacion">Puntaje Certificacion</label>
                    <input type="text" class="form-control" name="puntajeCertificacion" id="field_puntajeCertificacion"
                        [(ngModel)]="viabilidadVisa.puntajeCertificacion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.salidasPais" for="field_salidasPais">Salidas Pais</label>
                    <input type="text" class="form-control" name="salidasPais" id="field_salidasPais"
                        [(ngModel)]="viabilidadVisa.salidasPais" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.paisesVisitados" for="field_paisesVisitados">Paises Visitados</label>
                    <input type="text" class="form-control" name="paisesVisitados" id="field_paisesVisitados"
                        [(ngModel)]="viabilidadVisa.paisesVisitados" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.visaPais" for="field_visaPais">Visa Pais</label>
                    <input type="text" class="form-control" name="visaPais" id="field_visaPais"
                        [(ngModel)]="viabilidadVisa.visaPais" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.estudiadoAnterior" for="field_estudiadoAnterior">Estudiado Anterior</label>
                    <input type="checkbox" class="form-control" name="estudiadoAnterior" id="field_estudiadoAnterior"
                        [(ngModel)]="viabilidadVisa.estudiadoAnterior" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.fueraPais" for="field_fueraPais">Fuera Pais</label>
                    <input type="checkbox" class="form-control" name="fueraPais" id="field_fueraPais"
                        [(ngModel)]="viabilidadVisa.fueraPais" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.paisFuera" for="field_paisFuera">Pais Fuera</label>
                    <input type="text" class="form-control" name="paisFuera" id="field_paisFuera"
                        [(ngModel)]="viabilidadVisa.paisFuera" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.extenderEstadia" for="field_extenderEstadia">Extender Estadia</label>
                    <input type="checkbox" class="form-control" name="extenderEstadia" id="field_extenderEstadia"
                        [(ngModel)]="viabilidadVisa.extenderEstadia" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.negadoVisa" for="field_negadoVisa">Negado Visa</label>
                    <input type="checkbox" class="form-control" name="negadoVisa" id="field_negadoVisa"
                        [(ngModel)]="viabilidadVisa.negadoVisa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.paisNegado" for="field_paisNegado">Pais Negado</label>
                    <input type="text" class="form-control" name="paisNegado" id="field_paisNegado"
                        [(ngModel)]="viabilidadVisa.paisNegado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.familiaresDestino" for="field_familiaresDestino">Familiares Destino</label>
                    <input type="checkbox" class="form-control" name="familiaresDestino" id="field_familiaresDestino"
                        [(ngModel)]="viabilidadVisa.familiaresDestino" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.estatusMigratorio" for="field_estatusMigratorio">Estatus Migratorio</label>
                    <input type="text" class="form-control" name="estatusMigratorio" id="field_estatusMigratorio"
                        [(ngModel)]="viabilidadVisa.estatusMigratorio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="viabilidadVisa.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.apelliod" for="field_apelliod">Apelliod</label>
                    <input type="text" class="form-control" name="apelliod" id="field_apelliod"
                        [(ngModel)]="viabilidadVisa.apelliod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lifestudiesApp.viabilidadVisa.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                        [(ngModel)]="viabilidadVisa.correo" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
